<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>E2E.TestFramework.AppTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>serializeToFile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>preemptiveBasicAuth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>exceptionDueToEndIncorrectPoint</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>basicAuth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>listOfBooksAreAvailable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deSerializeToFile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>convertJSONResponseToPOJO</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>convertJSONToPOJO</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>preemptiveBasicAuthNegative</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
