<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>APISuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.serializeToFile()[pri:1, instance:E2E.TestFramework.AppTest@7c469c48]">serializeToFile</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:41</td>   <td>139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.deSerializeToFile()[pri:2, instance:E2E.TestFramework.AppTest@7c469c48]">deSerializeToFile</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:47</td>   <td>6143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.exceptionDueToEndIncorrectPoint()[pri:6, instance:E2E.TestFramework.AppTest@7c469c48]">exceptionDueToEndIncorrectPoint</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:49</td>   <td>7742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.convertJSONToPOJO()[pri:8, instance:E2E.TestFramework.AppTest@7c469c48]">convertJSONToPOJO</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:46</td>   <td>4771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.preemptiveBasicAuthNegative()[pri:5, instance:E2E.TestFramework.AppTest@7c469c48]">preemptiveBasicAuthNegative</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:45</td>   <td>3398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.preemptiveBasicAuth()[pri:4, instance:E2E.TestFramework.AppTest@7c469c48]">preemptiveBasicAuth</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:50</td>   <td>8982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.convertJSONResponseToPOJO()[pri:9, instance:E2E.TestFramework.AppTest@7c469c48]">convertJSONResponseToPOJO</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:49</td>   <td>7448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testGetRequest()[pri:7, instance:E2E.TestFramework.AppTest@7c469c48]">testGetRequest</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:51</td>   <td>9639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.listOfBooksAreAvailable()[pri:10, instance:E2E.TestFramework.AppTest@7c469c48]">listOfBooksAreAvailable</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>23/06/05 17:33:41</td>   <td>168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.basicAuth()[pri:3, instance:E2E.TestFramework.AppTest@7c469c48]">basicAuth</td> 
  <td>main@1156304131</td>   <td></td> </tr>
</table>
