<h2>Methods that were not run</h2><table>
<tr><td>E2E.TestFramework.AppTest.convertJSONResponseToPOJO</td></tr>
<tr><td>E2E.TestFramework.AppTest.serializeToFile</td></tr>
<tr><td>E2E.TestFramework.AppTest.preemptiveBasicAuth</td></tr>
<tr><td>E2E.TestFramework.AppTest.exceptionDueToEndIncorrectPoint</td></tr>
<tr><td>E2E.TestFramework.AppTest.basicAuth</td></tr>
<tr><td>E2E.TestFramework.AppTest.testGetRequest</td></tr>
<tr><td>E2E.TestFramework.AppTest.listOfBooksAreAvailable</td></tr>
<tr><td>E2E.TestFramework.AppTest.convertJSONToPOJO</td></tr>
<tr><td>E2E.TestFramework.AppTest.preemptiveBasicAuthNegative</td></tr>
</table>